### Importing Libraries

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier,plot_tree
import os

### Changine directory

In [6]:
os.chdir("F:/data softwares work/phython/for codes")

In [7]:
os.listdir()

['b_table.csv',
 'decision tree.png',
 'Feature_imp.csv',
 'fghjk.csv',
 'table.csv',
 'train_profile.csv']

### Reading the csv file data

In [9]:
diab=pd.read_csv("C:/Users/DELL/Downloads/diabetes.csv")

### Analysis of data

In [10]:
diab

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
diab.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
diab.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [13]:
diab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [14]:
diab.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.894531,31.972618,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,768.0,69.105469,19.355807,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,768.0,20.536458,15.952218,0.000,0.00000,23.0000,32.00000,99.00
Insulin,768.0,79.799479,115.244002,0.000,0.00000,30.5000,127.25000,846.00
BMI,768.0,31.992578,7.884160,0.000,27.30000,32.0000,36.60000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

In [15]:
diab.shape

(768, 9)

### Univariate analysis

In [16]:
diab["Pregnancies"].value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnancies, dtype: int64

In [17]:
diab["Glucose"].value_counts()

99     17
100    17
129    14
125    14
106    14
       ..
169     1
61      1
178     1
177     1
199     1
Name: Glucose, Length: 136, dtype: int64

In [19]:
diab["BloodPressure"].value_counts()

70     57
74     52
78     45
68     45
72     44
64     43
80     40
76     39
60     37
0      35
62     34
82     30
66     30
88     25
84     23
90     22
58     21
86     21
50     13
56     12
54     11
52     11
92      8
75      8
65      7
85      6
94      6
48      5
96      4
44      4
110     3
106     3
100     3
98      3
108     2
104     2
46      2
55      2
30      2
95      1
61      1
102     1
38      1
40      1
24      1
114     1
122     1
Name: BloodPressure, dtype: int64

In [20]:
diab["SkinThickness"].value_counts()

0     227
32     31
30     27
27     23
23     22
18     20
28     20
33     20
31     19
19     18
39     18
29     17
40     16
37     16
22     16
25     16
26     16
41     15
35     15
36     14
15     14
17     14
20     13
24     12
13     11
42     11
21     10
46      8
34      8
12      7
38      7
11      6
45      6
16      6
14      6
43      6
44      5
10      5
47      4
48      4
49      3
50      3
54      2
52      2
8       2
7       2
51      1
56      1
60      1
63      1
99      1
Name: SkinThickness, dtype: int64

In [21]:
diab["Insulin"].value_counts()

0      374
105     11
140      9
130      9
120      8
      ...
193      1
191      1
188      1
184      1
846      1
Name: Insulin, Length: 186, dtype: int64

In [22]:
diab["BMI"].value_counts()

32.0    13
31.2    12
31.6    12
0.0     11
33.3    10
        ..
19.3     1
49.3     1
19.4     1
20.0     1
40.1     1
Name: BMI, Length: 248, dtype: int64

In [23]:
diab["DiabetesPedigreeFunction"].value_counts()

0.258    6
0.254    6
0.268    5
0.261    5
0.207    5
        ..
0.145    1
0.241    1
1.292    1
0.627    1
0.804    1
Name: DiabetesPedigreeFunction, Length: 517, dtype: int64

In [25]:
diab["Age"].value_counts()

22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
38    16
36    16
32    16
45    15
34    14
40    13
43    13
46    13
39    12
35    10
52     8
44     8
50     8
51     8
58     7
54     6
47     6
53     5
60     5
49     5
57     5
48     5
66     4
62     4
63     4
55     4
59     3
56     3
65     3
67     3
61     2
69     2
64     1
68     1
70     1
72     1
81     1
Name: Age, dtype: int64

In [37]:
X=diab.drop(columns=["Outcome"])
y=diab["Outcome"]

### Splitting train test data in 80-20 ratio

In [38]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=0)

In [40]:
from sklearn.tree import DecisionTreeClassifier

dt1=DecisionTreeClassifier(random_state=89)

dt1.fit(X_train, y_train)

print("Train accuracy:", dt1.score(X_train,y_train))

print("Test accuracy:", dt1.score(X_test,y_test))

Train accuracy: 1.0
Test accuracy: 0.7597402597402597

In [41]:
dt1=DecisionTreeClassifier(max_depth=7,random_state=89)
dt1.fit(X_train, y_train)
print("Train accuracy:", dt1.score(X_train,y_train))

print("Test accuracy:", dt1.score(X_test,y_test))

Train accuracy: 0.8859934853420195
Test accuracy: 0.8051948051948052

### Finding best parameters through Hyperparameter tuning

In [42]:
from sklearn.model_selection import GridSearchCV

parameters = {'criterion':('gini', 'entropy'), 
              'min_samples_split':[10,50,100,150,200], 
              'max_depth':[4,6,8,9,10,11,12],
              "min_samples_leaf":[2,5,10,50]
     
             }

tr = DecisionTreeClassifier(random_state=89)

gsearch = GridSearchCV(tr, param_grid=parameters, cv=10, verbose=1, n_jobs=-1)

gsearch.fit(X_train, y_train)

Fitting 10 folds for each of 280 candidates, totalling 2800 fits

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(random_state=89),
             n_jobs=-1,
             param_grid={'criterion': ('gini', 'entropy'),
                         'max_depth': [4, 6, 8, 9, 10, 11, 12],
                         'min_samples_leaf': [2, 5, 10, 50],
                         'min_samples_split': [10, 50, 100, 150, 200]},
             verbose=1)

In [43]:
gsearch.best_params_

{'criterion': 'gini',
 'max_depth': 6,
 'min_samples_leaf': 5,
 'min_samples_split': 150}

In [44]:
gsearch.best_score_

0.7442622950819672

In [45]:
from sklearn.ensemble import RandomForestClassifier

In [46]:
rf1=RandomForestClassifier()

In [47]:
rf1.fit(X_train, y_train)
print("Train Accuracy :", rf1.score(X_train,y_train))
print("Test Accuracy :", rf1.score(X_test,y_test))

Train Accuracy : 1.0
Test Accuracy : 0.8116883116883117

In [48]:
fit_rf = RandomForestClassifier(random_state=42)
param_dist = {'max_depth':[5,6,7,10],
              'min_samples_split':[2,4,6,10],
              'n_estimators':[10,25, 50, 100],
#               'bootstrap': [True, False],
#               'max_features': ['auto', 'log2', None],
              'criterion': ['gini', 'entropy']}

cv_rf = GridSearchCV(fit_rf, cv = 5,
                     param_grid=param_dist, 
                     n_jobs = -1, verbose=1)

cv_rf.fit(X_train, y_train)

Fitting 5 folds for each of 128 candidates, totalling 640 fits

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 6, 7, 10],
                         'min_samples_split': [2, 4, 6, 10],
                         'n_estimators': [10, 25, 50, 100]},
             verbose=1)

In [49]:
cv_rf.best_params_

{'criterion': 'gini',
 'max_depth': 10,
 'min_samples_split': 2,
 'n_estimators': 50}

In [50]:
cv_rf.best_score_

0.767173130747701

In [ ]:
rf2=RandomForestClassifier(n_estimators=cv_rf.best_params_['n_es'],
                           max_depth=cv_rf.best_params_['max_depth'], 
                           criterion=cv_rf.best_params_["criterion"],
                           min_samples_split=cv_rf.best_params_["min_samples_split"]
                          )
rf2.fit(X_train, y_train)
print("Train Accuracy :", rf2.score(X_train,y_train))
print("Test Accuracy :", rf2.score(X_test,y_test))